@import '../../variables.scss';

.Input {
  display: block;
  font-size: $smallFontSize;
  font-family: $defaultFont;
  text-decoration: none;
  text-align: left;
  max-width: 150px;
  border: 0;
  background-color: $normalGrey;
  padding: 5px 15px 5px;
  cursor: text;

  &:hover {
    background-color: $darkGrey;
  }
}

.Label {
  display: none;
  font-size: $smallFontSize;
  font-family: $defaultFont;
  text-decoration: none;
  text-align: left;
  border: 0;
  background-color: $normalGrey;
  padding: 5px 15px 5px;
  cursor: text;

}


