@import '../../variables.scss';

.Input {
  border: none;
  background: none;
  padding: 2px 35px 2px 10px;
  font-size: $smallFontSize;
  font-family: $defaultFont;
  font-weight: $smallFontWeight;
  text-decoration: none;
  color: $normalGray;
  cursor: text;
  outline: none;

  &:focus {
    color: $darkGray;
  }
}
