@import '../../variables.scss';

.Button {
  border: none;
  background: none;
  font-size: $normalFontSize;
  font-family: $defaultFont;
  font-weight: $normalFontWeight;
  text-decoration: none;
  color: $normalGray;
  cursor: pointer;
  outline: none;

  &:focus {
    color: $darkGray;
  }
}