@import '../../variables.scss';

.Button {
  display: block;
  color: $lightGrey;
  font-size: $normalFontSize;
  font-family: $defaultFont;
  text-decoration: none;
  text-align: center;
  max-width: 100px;
  border: none;
  background: none;
  padding: 5px 15px 5px;
  cursor: pointer;

  &:hover {
    background-color: $darkGrey;
    color: white;
  }
}