@import '../../variables.scss';

.NewsView {
  display: block;
  border: none;
  background: none;
  padding: 0 20px;
  margin: 0;

  font-size: $normalFontSize;
  font-family: $defaultFont;
  font-weight: $normalFontWeight;
  text-decoration: none;
  color: $normalGray;
}