@import '../../variables.scss';
@import '../Button/Button.scss';
@import '../Input/Input.scss';

.TopBar {
  position: fixed;
  padding: 5px 10px 5px;

  &-button {
    @extend .Button;

    display: inline-block;
    align-items: center;
    margin: 0 10px 0 0;

    &:hover {
      color: $darkGray;
      font-weight: 500;
    }

    &-openForm {
      @extend .Button;

      display: inline-block;
      align-items: center;
      display: block;
      font-size: $smallFontSize;
    }

    &-logo {
      height: 40px;
      width: 40px;
      display: inline-block;
      align-items: center;
    }

    &-svg {
      display: inline-block;
      align-items: center;
      color: $normalGray;
      pointer-events: none;

      &:hover {
        color: $darkGray;
      }
    }
  }

  &-input {
    @extend .Input;

    display: inline-block;
    align-items: center;
    margin: 0 10px 0 0;
    max-width: 100px;
  }
}