@import '../../variables.scss';
@import '../Button/Button.scss';
@import '../Input/Input.scss';

.TopBar {
  position: fixed;
  padding: 5px 10px 5px;
  display: inline-grid;
  grid-template-columns: 50px 50px auto 50px;
  align-items: center;
  width: 100vw;
  box-shadow: $boxShadow;
  background-color: white;

  &-button {
    @extend .Button;

    margin: 0;
    padding: 0;

    &:hover {
      color: $darkGray;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
    }

    &-logo {
      height: 50px;
      width: 50px;
      margin: 0;
      padding: 0;
    }

    &-svg {
      color: $normalGray;
      pointer-events: none;
      margin: 0;
      padding: 0;
      font-size: 25px;

      &:hover {
        color: $darkGray;
      }
    }
  }

  &-input {

    &-container {
      justify-content: center;
      display: inline-flex;
      width: 100%;

      &-textarea {
        @extend .Input;

        width: 100%;
        max-width: 500px;
        border: 1px solid $lightGray;
        color: $darkGray;
      }

      &-button {
        @extend .Button;

        position: relative;
        right: 25px;
        margin: 0;
        padding: 0;

        &-svg {
          color: $normalGray;
          margin: 0;
          padding: 2px 0 0 0;
          font-size: 18px;
        }
      }
    }
  }

  &-modal {
    position: relative;
    top: $offsetMenu;
    right: 15px;
    display: grid;
    justify-content: end;

    &-button {
      @extend .Button;

      margin: 0;
      padding: 0;
      text-align: end;
    }
  }
}