@import '../../variables.scss';
@import '../Button/Button.scss';
@import '../Input/Input.scss';

@keyframes openModal {
  0% {  transform: translateX(250px) }
  100% { transform: translateX(0px) }
}

.LoginForm {
  position: absolute;
  right: 0px;
  width: 250px;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 3px 10px;
  justify-content: end;
  padding: 5px 15px 5px;
  margin: 0;
  box-shadow: 0 7px 10px -8px rgba($lightGray, .4);
  background-color: white;
  animation: openModal .5s ease-in-out 0s 1 normal forwards;

  &-input{
    @extend .Input;

    border: 1px solid $lightGray;
    color: $lightGray;
  }

  &-button {
    @extend .Button;

    margin: 0;
    padding: 0;
    text-align: end;

    &:hover {
      color: $darkGray;
    }
  }
}