.Logo {
  width: 40px;
  height: 40px;
}

.Wrapper {
  padding: 0;
  align-items: center;
}

.NavItem {
  display: inline-block;
  margin-right: 50px;
  list-style: none;

  &_link {
    text-decoration: none;
    color: #4b4b4b;
    font-weight: 500;

    &_active {
      font-weight: 700;
    }
  }
}