@import '../../variables.scss';

.Wrapper {
  // position: absolute;
  display: grid;
  grid-template-columns: auto repeat(6, 1fr);
  // grid-template-rows: 50px;
  align-items: center;
  padding: 15px $marginNormal 15px $marginNormal;
  margin: 0;
  background-color: $normalGrey;
  // background-size: 100%;
  width: 100vw;


}

// .Item {



// }