@import '../../variables.scss';

.Wrapper {
  padding: 0;
  //align-items: center;
}

// .Nav {
//   display: block;
//   padding: none;
//   margin: none;
//   height: 40px;
//   position: absolute;
// }

.NavItem {
  display: inline-block;
  align-items: flex-start;
  margin-right: $marginNormal;
  list-style: none;


  &_link {
    color: $lightGrey;
    font-size: $normalFontSize;
    text-decoration: none;

    &_active {
      color: white;
    }
  }

  &_logo {
  width: 37px;
  height: 37px;
  }
}