@import '../../variables.scss';
@import '../Button/Button.scss';
@import '../Input/Input.scss';

.RegistrationFrom {
  position: relative;
  top: $offsetMenu;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 3px 10px;
  justify-content: end;
  padding: 0 15px;
  margin: 0;
  box-shadow: 0 7px 10px -8px rgba($lightGray, .4);
  background-color: white;

  &-container {

    &-input {
      @extend .Input;

      border: 1px solid $lightGray;
      color: $lightGray;

      &-svg {
        position: absolute;
        right: 25px;
        margin: 5px 0 0 0;
        color: $lightGray;
        opacity: .3;
        pointer-events: none;
        font-size: 18px;
      }
    }
  }

  &-button {
    @extend .Button;

    margin: 0;
    padding: 0;
    text-align: end;

    &:hover {
      color: $darkGray;
    }
  }
}