@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
  font-size: $normalFontSize;
}