$defaultFont: 'Rajdhani';

$smallFontSize: 15px;

$normalFontSize: 20px;

$bigFontSize: 50px;

$smallFontWeight: 300;

$normalFontWeight: 400;

$bigFontWeight: 500;

$lightGray: #a19a9a;

$normalGray: #382929;

$darkGray: #0a0909;

$marginNormal: 30px;
